html,
body,
.main-wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scenes,
#maps {
  padding: 0;
  margin: 0;
  height: 80%;
  width: 80%;
}
